<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        @*<div class="container">
            <div class="navbar-header">*@
        @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar">abcd</span>
                <span class="icon-bar">sdfsdfs</span>
                <span class="icon-bar"></span>
            </button>*@
        @*<%= Html.ActionLink("SportsAcholics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })%>*@

        <a href='@Url.Action("", "Home")' class="navebar-brand">
            <img src='@Url.Content("https://ieimage.s3-ap-southeast-2.amazonaws.com/logo+color.png")' style ="float:left" width="100" height="70" />
        </a>

        @*@Html.ActionLink("SportsAcholics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        @*</div>*@
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Education", "Education", "Home")</li>
                <li>@Html.ActionLink("EquipmentQuiz", "Contact", "Home")</li>
                <li>@Html.ActionLink("Warm-up", "Warmup", "Home")</li>
                <li>@Html.ActionLink("Map", "Map", "Home")</li>
                <li>@Html.ActionLink("RoadRuleQuiz", "Quiz", "Home")</li>
            </ul>
            @*@Html.Partial("_LoginPartial")*@
        </div>
        @*</div>*@
    </nav>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/quiz")
    @Scripts.Render("~/bundles/checkanswer")
    @RenderSection("scripts", required: false)
</body>
</html>
