@{
    string controllerAction = ViewContext.RouteData.Values["Controller"].ToString();
    Func<string, string> getMenuClass = x => x == controllerAction ? "nav-link js-scroll-trigger active" : "nav-link js-scroll-trigger";
    Func<string, Boolean> IsSelected = x => x == controllerAction; 
}
<!DOCTYPE html>
<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>@ViewBag.Title - Sportsaholics</title>
    <meta name="keywords" content="sport">
    <meta name="description" content="Sportsaholics">
    <meta name="author" content="Sportsaholics">

    <!-- Site Icons -->
    <!--
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
    -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>*@
    @*/*body {
            font-family: Arial, Helvetica, sans-serif;
        }*/*@

    @*.my_navbar {
                overflow: hidden;
                background-color: #333;
            }

                .my_navbar a {
                    float: left;
                    font-size: 16px;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

            .my_dropdown {
                float: left;
                overflow: hidden;
            }

                .my_dropdown .my_dropbtn {
                    font-size: 16px;
                    border: none;
                    outline: none;
                    color: white;
                    padding: 14px 16px;
                    background-color: inherit;
                    font-family: inherit;
                    margin: 0;
                }

                .my_navbar a:hover, .my_dropdown:hover .my_dropbtn {
                    background-color: red;
                }

            .my_dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

                .my_dropdown-content a {
                    float: none;
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                }

                    .my_dropdown-content a:hover {
                        background-color: #ddd;
                    }

            .my_dropdown:hover .my_dropdown-content {
                display: block;
            }
        </style>*@

</head>



<body id="page-top" class="politics_version @ViewBag.BodyStyle">

    <!-- LOADER -->
    <div id="preloader">
        <div id="main-ld">
            <div id="loader"></div>
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <img class="img-fluid logo" src="~/Content/images/logo.png" alt="Logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text ml-auto">
                    @*<ul class="navbar-nav text-uppercase ml-auto">*@
                    @*<ul class="nav nav-tabs">*@
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = getMenuClass("Home") })
                    </li>
                    @*<li class="nav-item">
                         @Html.ActionLink("Education", "Index", "Education", null, new { @class = getMenuClass("Education") })
                    </li>*@
                    <li class="nav-item dropdown">
                        @*<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">*@
                        <a class="nav-link @((IsSelected("StreetView") || IsSelected("Education")) ? "active" : "")" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Education
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right">
                            <a class="dropdown-item" href="@Url.Action("Index", "StreetView")">
                                <span>Road Signs View</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "Education")">
                                <span>Knowledge Section</span>
                            </a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link @((IsSelected("Map") || IsSelected("Analysis")) ? "active" : "")" href="#" id="navbarDropdown" role="menuitem" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                            Crash Analysis
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right">
                            <a class="dropdown-item" href="@Url.Action("Index", "Map")">
                                <span>Crash Map</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "Analysis")">
                                <span>Crash: When & Where</span>
                            </a>
                        </div>
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Common Injuries", "Index", "InjuryHover", null, new { @class = getMenuClass("InjuryHover") })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Trivia", "Index", "QuizIndex", null, new { @class = getMenuClass("QuizIndex") })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Navigation Map", "Index", "NavigationMap", null, new { @class = getMenuClass("NavigationMap") })
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()
    <section>
        <div class="copyrights">
            <div class="container">
                <div class="footer-distributed">
                    <a href="#"><img class="logo" src="~/Content/images/logo.png" alt="" /></a>
                    <div class="footer-center">
                        <p class="footer-links">
                            @Html.ActionLink("Home", "Index", "Home")
                            @Html.ActionLink("Education", "Index", "Education")
                            @Html.ActionLink("Crash Analysis", "Index", "Analysis")
                            @Html.ActionLink("Common Injuries", "Index", "InjuryHover")
                            @Html.ActionLink("Trivia", "Index", "QuizIndex")
                            @Html.ActionLink("Navigation Map", "Index", "NavigationMap")
                        </p>
                        <p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">Sportsaholics</a></p>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end copyrights -->
    </section>
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    @Scripts.Render("~/bundles/all")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/quiz")
    @Scripts.Render("~/bundles/checkanswer")
    @RenderSection("scripts", required: false)
</body>
</html>